LOG_LEVEL=INFO

# Proxy app config
APP_PORT=54321
REQUIRE_AUTH=0
PROXY_HANDSHAKE_TIMEOUT=10s
PROXY_IDLE_TIMEOUT=15m

# Redis connection settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Telegram bot app config
TELEGRAM_BOT_ENABLED=1
TELEGRAM_UPDATE_PROCESSING_TIMEOUT=1m
PUBLIC_URL=
TELEGRAM_API_TOKEN=
TELEGRAM_WEBHOOK_URL=/webhook
TELEGRAM_USE_WEBHOOKS=0
BOT_APP_PORT=8443
TELEGRAM_WEBHOOK_TLS_CERT_PATH=
TELEGRAM_WEBHOOK_TLS_KEY_PATH=

# Go proxy cache and async redis updates
AUTH_CACHE_MAX_SIZE=100
AUTH_CACHE_TTL=1h
REDIS_AUTH_UPDATES_QUEUE_SIZE=4096
REDIS_USAGE_UPDATES_QUEUE_SIZE=16384

# Prometheus metrics
METRICS_ENABLED=0
METRICS_PORT=9100
METRICS_AUTH_ENABLED=0
METRICS_AUTH_USERNAME=
METRICS_AUTH_PASSWORD=

# Go pprof
PPROF_ENABLED=0
PPROF_PORT=6060
PPROF_AUTH_ENABLED=0
PPROF_AUTH_USERNAME=
PPROF_AUTH_PASSWORD=
