LOG_LEVEL=INFO

# Proxy app config
APP_PORT=54321
REQUIRE_AUTH=0

# Telegram bot app config
PUBLIC_URL=
TELEGRAM_API_TOKEN=
TELEGRAM_WEBHOOK_URL=/webhook
TELEGRAM_USE_WEBHOOKS=0
BOT_APP_PORT=8443
NTBA_FIX_319=1

# Go proxy cache and async redis updates
AUTH_CACHE_MAX_SIZE=100
AUTH_CACHE_TTL=1h
REDIS_AUTH_UPDATES_QUEUE_SIZE=4096
REDIS_USAGE_UPDATES_QUEUE_SIZE=16384
